@import '../../../scss/media-queries';
@import '../../../scss/variables';
@import '../../../scss/page-layout';

.brands-covered {
  @include pageLayout;

  &-title {
    font-weight: 500;
    color: $gray-700;

    @include md {
      font-size: 1.25rem;
    }
  }

  &-brands-container {
    height: 3.125rem;
    margin-top: 2.5rem;

    &-brand {
      width: 8rem;
      height: 2.6rem;
      object-fit: contain;

      @include md {
        height: 3.3rem;
      }
    }
  }
}
