@import '../../../scss/media-queries';
@import '../../../scss/variables';

.all-round-insurance {
  margin-top: 4.3rem;

  &-heading {
    text-align: center;
    font-size: 1.375rem;
    font-weight: 800;
    line-height: 1.625rem;
    color: $primary;

    @include sm {
      font-size: 2.2rem;
      line-height: 2.56rem;
    }

    @include md {
      font-size: 3rem;
      line-height: 3.56rem;
    }
  }

  &-sub-text {
    text-align: center;
    font-size: 0.875rem;
    color: $gray-600;

    @include sm {
      font-size: 1.125rem;
    }
  }

  &-services-containter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2.265rem;

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md {
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
    }

    @include xl {
      gap: 6.25rem;
    }

    &-service {
      cursor: pointer;
      transition: transform 0.3s ease-in-out;

      &:hover .scale-icon {
        transform: scale(1.12);
      }
      &-icon {
        width: 3rem;
        height: 3rem;
      }

      &-title {
        font-weight: 700;
        color: $primary;
        margin: 1.125rem 0 0 0;

        @include md {
          font-size: 1.125rem;
          margin: 2.125rem 0 0 0;
        }
      }

      &-body {
        font-size: 0.875rem;
        color: $gray-700;
      }
    }

    @include sm {
      margin-top: 3.2rem;
    }

    @include md {
      margin-top: 7rem;
    }
  }
}
