@import '../../../scss/media-queries';
@import '../../../scss/variables';

.bespoke-solutions {
  padding: 0 1.25rem;
  margin-top: 4.3rem;

  &-intro {
    font-size: 0.75rem;
    font-weight: 500;
    color: $primary-green;
    text-align: center;

    @include sm {
      text-align: left;
      font-size: 0.875rem;
    }

    @include md {
      font-size: 1.25rem;
    }
  }

  &-title {
    font-size: 1.375rem;
    font-weight: 800;
    color: $primary;

    @include sm {
      font-size: 1.375rem;
      font-weight: 900;
    }

    @include md {
      font-size: 2.5rem;
      max-width: 41.69rem;
      line-height: 45.5px;
    }
  }

  @include sm {
    padding: 0 3.25rem;
  }

  @include md {
    padding: 0 2.25rem;
    margin-top: 9.3rem;
  }

  @include lg {
    padding: 0 6.25rem;
  }

  @include xxl {
    max-width: 1600px;
    margin: 4.3rem auto 0 auto;
  }
}
