@import '../../../scss/media-queries';
@import '../../../scss/variables';

.homepage-banner {
  margin-top: 4.3rem;
  padding: 0 1.25rem;
  overflow: hidden;

  .banner-text {
    .bold-text {
      font-size: 1.875rem;
      color: $primary;
      font-weight: 900;
      line-height: 40px;

      .special-text {
        position: relative;

        &::after {
          position: absolute;
          bottom: 5px;
          left: 0;
          content: '';
          width: 100%;
          height: 0.3rem;
          background-color: #fec84be5;

          @include sm {
            bottom: 6px;
            height: 0.875rem;
          }
        }
      }

      @include sm {
        font-size: 3.62rem;
        line-height: 63px;
      }
    }

    .sub-text {
      font-weight: 500;
      line-height: 24px;
      margin-top: 1.5rem;
      color: $gray-600;

      @include md {
        font-size: 1.25rem;
        line-height: 32px;
        max-width: 38.625rem;
      }
    }
  }

  .banner-animation {
    margin-top: 1.625rem;
    min-height: 40vh;
    padding: 1.875rem 1.375rem;

    @include lg {
      min-height: auto;
      margin-top: 0;
    }

    .animation-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 17.18rem;
      height: 17.18rem;
      border: 1px solid $gray-100;
      border-radius: 50%;
      margin: 0.75rem auto;

      @include sm {
        width: 22.68rem;
        height: 22.68rem;
      }

      .center-image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .center-image {
          width: 6.81rem;
          height: 6.81rem;
          object-fit: contain;
          z-index: 1;

          @include sm {
            width: 8rem;
            height: 8rem;
          }
        }

        .indicator {
          position: absolute;
          display: flex;
          justify-content: center;
          width: 8.5rem;
          height: 8.5rem;
          background-color: $white;
          border-radius: 50%;
          box-shadow: 0px 2px 18px #0b0b0c14;
          transition: all 1s ease-in-out;
          animation: rotate 25s linear infinite;

          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
            5.55%,
            16.66% {
              transform: rotate(60deg);
            }
            22.21%,
            33.32% {
              transform: rotate(120deg);
            }
            38.87%,
            49.98% {
              transform: rotate(180deg);
            }
            55.53%,
            66.64% {
              transform: rotate(240deg);
            }
            72.19%,
            83.3% {
              transform: rotate(300deg);
            }
            88.85%,
            100% {
              transform: rotate(360deg);
            }
          }

          @include sm {
            width: 10rem;
            height: 10rem;
          }

          &-pointer {
            top: 1rem;
            width: 4rem;
            height: 2.7px;
            transform: rotate(90deg);
            background-color: $primary-green;

            &:after {
              content: '';
              position: absolute;
              top: -0.25rem;
              width: 0.8rem;
              height: 0.8rem;
              border-radius: 50%;
              background-color: $primary-green;
            }

            @include lg {
              width: 5.5rem;
              height: 4px;
            }
          }
        }
      }

      .service-box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.75rem;
        height: 2.75rem;
        font-size: 0.625rem;
        background-color: #ffffff;
        box-shadow: 0px 4px 18px #0b0b0c24;
        border-radius: 50%;

        @include sm {
          width: 4.125rem;
          height: 4.125rem;
          font-size: 0.875rem;
        }

        .icon {
          width: 1.125rem;
          height: 1rem;
          animation: hue 25s linear infinite;

          @keyframes hue {
            0% {
              filter: hue-rotate(0deg);
            }

            5%,
            15% {
              filter: hue-rotate(120deg);
            }

            20%,
            35% {
              filter: hue-rotate(0deg);
            }

            19%,
            100% {
              filter: hue-rotate(0deg);
            }
          }

          @include sm {
            width: 2rem;
            height: 2rem;
          }
        }

        .service-label {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(0, 20%);
          opacity: 0;
          animation: right 25s linear infinite;

          @keyframes right {
            0% {
              transform: translate(0, 20%);
              opacity: 0;
            }

            5%,
            15% {
              transform: translate(50%, 20%);
              opacity: 1;
            }

            20%,
            35% {
              transform: translate(0, 20%);
              opacity: 0;
            }

            19%,
            100% {
              transform: translate(0, 20%);
              opacity: 0;
            }
          }

          .arrow-bg {
            width: 6.5rem;

            @include sm {
              width: 8rem;
            }
          }

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            content: '' attr(label) '';
            font-size: 0.625rem;
            transform: translate(-25%, 50%);

            @include sm {
              font-size: 0.75rem;
            }
          }
        }

        .left-label {
          top: 0;
          left: 0;
          transform: translate(-50%, 20%);
          animation: left 25s linear infinite;

          @keyframes left {
            0% {
              transform: translate(-50%, 20%);
              opacity: 0;
            }

            5%,
            15% {
              transform: translate(-100%, 20%);
              opacity: 1;
            }

            20%,
            35% {
              transform: translate(-50%, 20%);
              opacity: 0;
            }

            19%,
            100% {
              transform: translate(-50%, 20%);
              opacity: 0;
            }
          }
        }

        // labels animation delay
        .health-label {
          animation-delay: 0.5s;
        }

        .logistic-label {
          animation-delay: 4.5s;
        }

        .travel-label {
          animation-delay: 8.5s;
        }

        .office-label {
          animation-delay: 13s;
        }

        .auto-label {
          animation-delay: 17.5s;
        }

        .gadget-label {
          animation-delay: 21.5s;
        }

        // icon animation delay 
        .health-icon {
          animation-delay: 0.5s;
        }

        .logistic-icon {
          animation-delay: 4.5s;
        }

        .travel-icon {
          animation-delay: 8.5s;
        }

        .office-icon {
          animation-delay: 13s;
        }

        .auto-icon {
          animation-delay: 17.5s;
        }

        .gadget-icon {
          animation-delay: 21.5s;
        }

        &.gadget-cover {
          top: -1.375rem;

          @include sm {
            top: -2.06rem;
          }
        }

        &.health-cover {
          top: -1.375rem;
          transform: translate(7.5rem, 4.5rem);

          @include sm {
            top: -2.06rem;
            transform: translate(9.5rem, 5.5rem);
          }
        }

        &.auto {
          top: -1.375rem;
          transform: translate(-7.5rem, 4.5rem);

          @include sm {
            top: -2.06rem;
            transform: translate(-9.5rem, 5.5rem);
          }
        }

        &.travel-cover {
          bottom: -1.375rem;

          @include sm {
            bottom: -2.06rem;
          }
        }

        &.logistic-cover {
          bottom: -1.375rem;
          transform: translate(7.5rem, -4.5rem);

          @include sm {
            bottom: -2.06rem;
            transform: translate(9.5rem, -5.5rem);
          }
        }

        &.office-content {
          bottom: -1.375rem;
          transform: translate(-7.5rem, -4.5rem);

          @include sm {
            bottom: -2.06rem;
            transform: translate(-9.5rem, -5.5rem);
          }
        }
      }
    }
  }

  @include sm {
    padding: 0 3.25rem;
  }

  @include md {
    padding: 0 2.25rem;
    margin-top: 6.25rem;
  }

  @include lg {
    padding: 0 6.25rem;
  }

  @include xxl {
    max-width: 1600px;
    margin: 0 auto;
  }
}
