@import '../../../scss/media-queries';
@import '../../../scss/variables';

.bespoke-solutions {
  margin-top: 4.3rem;

  &-intro {
    font-size: 0.75rem;
    font-weight: 500;
    color: $primary-green;
    text-align: center;

    @include sm {
      text-align: left;
      font-size: 0.875rem;
    }

    @include md {
      font-size: 1.25rem;
    }
  }

  &-title {
    font-size: 1.375rem;
    font-weight: 800;
    color: $primary;

    @include sm {
      font-size: 2.175rem;
      font-weight: 900;
    }

    @include md {
      font-size: 2.5rem;
      max-width: 41.69rem;
      line-height: 45.5px;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.125rem;

    &-left {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      &-sub-text {
        font-size: 0.875rem;
        color: $gray-600;
        line-height: 17px;

        @include sm {
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 24px;
        }
      }

      &-row {
        display: grid;
        grid-template-columns: repeat(4, 6.875rem);
        gap: 1.5rem;
        max-width: calc(100vw - 3.5rem);
        overflow: auto;
        padding-bottom: 0.5rem;
        margin-top: 2.625rem;

        @include sm {
          grid-template-columns: 1fr;
          gap: 0.875rem;
          padding-bottom: 0;
        }

        @include md {
          padding-bottom: 0;
          margin-top: 0;
        }

        &-item {
          display: flex;
          align-items: center;
          width: 6.875rem;
          height: 1.9rem;
          font-size: 0.875rem;
          font-weight: 500;
          color: $gray-800;
          border-left: 2.7px solid $primary;
          box-shadow: 0px 4px 4px #00000014;
          padding-left: 0.75rem;

          &:first-child {
            border-color: #7a5af8;
          }

          &:nth-child(2) {
            border-color: #fcceee;
          }

          &:nth-child(3) {
            border-color: #b2ddff;
          }

          &:nth-child(4) {
            border-color: #a6f4c5;
          }

          @include sm {
            width: 19.875rem;
            height: 3.43rem;
            font-size: 1.125rem;
            border-left: 5px solid $primary;
            padding-left: 1.875rem;
          }
        }
      }
    }

    &-right {
      height: 100%;
      background-color: #f8fcfb;
      padding: 1.625rem;

      &-unordered {
        padding: 0;
        margin: 0;

        &-item {
          font-size: 0.75rem;
          color: $primary-green;

          @include sm {
            font-size: 1.125rem;
          }
        }
      }

      &-masked {
        width: 100%;
        object-fit: contain;
        margin-top: 1rem;

        @include md {
          height: 23.5rem;
        }
      }
    }

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
