@import '../../../scss/media-queries';
@import '../../../scss/variables';

.brands-covered {
  padding: 0 1.25rem;
  margin-top: 4.3rem;

  &-title {
    font-weight: 500;
    color: $gray-700;

    @include md {
      font-size: 1.25rem;
    }
  }

//   &-brands-container {
//     height: 3.125rem;

//     &-brand {
//       width: 8rem;
//       height: 100%;
//     }

//     @include md {
//       height: 4.93rem;
//     }
//   }

  @include sm {
    padding: 0 3.25rem;
  }

  @include md {
    padding: 0 2.25rem;
    margin-top: 9.3rem;
  }

  @include lg {
    padding: 0 6.25rem;
  }

  @include xxl {
    max-width: 1600px;
    margin: 4.3rem auto 0 auto;
  }
}
