@import './scss/media-queries';

#root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'),
    url('../src/assets/Fonts/Metropolis/Metropolis-Regular.otf')
      format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'),
    url('../src/assets/Fonts/Metropolis/Metropolis-Medium.otf')
      format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'),
    url('../src/assets/Fonts/Metropolis/Metropolis-Bold.otf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'),
    url('../src/assets/Fonts/Metropolis/Metropolis-SemiBold.otf')
      format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'),
    url('../src/assets/Fonts/Metropolis/Metropolis-ExtraBold.otf')
      format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Metropolis';
  src: local('Metropolis'),
    url('../src/assets/Fonts/Metropolis/Metropolis-Black.otf')
      format('truetype');
  font-weight: 900;
}

.App {
  font-family: Metropolis, Avenir, Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 0 1.25rem;

  @include sm {
    padding: 0 3.25rem;
  }

  @include md {
    padding: 0 2.25rem;
  }

  @include lg {
    padding: 0 6.25rem;
  }

  @include xxl {
    max-width: 1600px;
    margin: 0 auto;
  }
}
