$primary: #094063;
$secondary: #439687;
$primary-green: #439687;
$primaryBlack: #151515;
$yellow: #fec84b;
$gray-25: #fafbfd;
$gray-100: #f2f4f7;
$gray-500: #667085;
$gray-600: #475467;
$gray-700: #344054;
$gray-800: #1D2939;
$white: #ffffff;
