.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 33px;
  height: 33px;
  padding: 5px 0;
  box-shadow: 0px 1px 2px #0000001f;
  cursor: pointer;
}

.bar span {
  position: absolute;
  width: 18px;
  height: 2px;
  background: #47bfa3;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
}

.bar span.top {
  top: 8px;
}

.bar span.middle {
  margin-top: 1px;
}

.bar span.bottom {
  bottom: 8px;
}

.top-active {
  transform: rotate(45deg);
  transform-origin: top left;
  top: 9px !important;
  left: 10px;
}

.bottom-active {
  transform: rotate(-45deg);
  transform-origin: top left;
  bottom: 9px !important;
}

.middle-active {
  transform: translateX(-20px);
  opacity: 0;
}

@media screen and (min-width: 900px) {
  .bar {
    display: none;
  }
}

