@import '../../../scss/media-queries';
@import '../../../scss/variables';

.homepage-banner {
  padding: 0 1.25rem;
  margin-top: 4.3rem;

  .banner-text {
    border: 1px solid $primary;

    .bold-text {
      font-size: 1.875rem;
      color: $primary;
      font-weight: 900;
      line-height: 40px;

      @include md {
        font-size: 3.62rem;
        line-height: 73px;
      }
    }

    .sub-text {
      font-weight: 500;
      line-height: 24px;
      margin-top: 1.5rem;
      color: $gray-600;

      @include md {
        font-size: 1.25rem;
        line-height: 32px;
        max-width: 38.625rem;
      }
    }
  }

  .banner-animation {
    margin-top: 1.625rem;
    min-height: 40vh;
    padding: 1.875rem 1.375rem;
    border: 1px solid $yellow;

    @include lg {
      min-height: auto;
      margin-top: 0;
    }

    .animation-container {
      //   position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 17.18rem;
      height: 17.18rem;
      border: 1px solid $gray-100;
      border-radius: 50%;
      margin: 0 auto;

      @include lg {
        width: 22.68rem;
        height: 22.68rem;
      }

      .center-image-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.81rem;
        height: 6.81rem;
        background-color: $white;
        border-radius: 50%;
        padding: 0.62rem;
        box-shadow: 0px 2px 18px #0b0b0c14;

        @include md {
          width: 10.125rem;
          height: 10.125rem;
          padding: 1rem;
        }

        .center-image {
          width: 100%;
          height: 100%;
          object-fit: contain;
          z-index: 1;
        }

        .indicator {
          position: absolute;
          top: 1rem;
          width: 6.5rem;
          height: 2.7px;
          transform: rotate(90deg);
          // transform-origin: right;
          background-color: $primary-green;

          &:after {
            content: '';
            position: absolute;
            top: -0.25rem;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 50%;
            background-color: $primary-green;
          }

          @include lg {
            height: 4px;
          }
        }
      }
    }
  }

  @include sm {
    padding: 0 3.25rem;
  }

  @include md {
    padding: 0 2.25rem;
    margin-top: 9.3rem;
  }

  @include lg {
    padding: 0 6.25rem;
  }

  @include xxl {
    max-width: 1600px;
    margin: 4.3rem auto 0 auto;
  }
}
